<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Bill_Payment_Deal_Six"
            android:exported="false" />
        <activity
            android:name=".Bill_Payment_Deal_Five"
            android:exported="false" />
        <activity
            android:name=".Bill_Payment_Deal_Four"
            android:exported="false" />
        <activity
            android:name=".Bill_Payment_Deal_Three"
            android:exported="false" />
        <activity
            android:name=".Bill_Payment_Deal_Two"
            android:exported="false" />
        <activity
            android:name=".Bill_Payment_Deal_One"
            android:exported="false" />
        <activity
            android:name=".Set_Profile"
            android:exported="false" />
        <activity
            android:name=".Deal_Six"
            android:exported="false" />
        <activity
            android:name=".Deal_Five"
            android:exported="false" />
        <activity
            android:name=".Deal_Four"
            android:exported="false" />
        <activity
            android:name=".Deal_Three"
            android:exported="false" />
        <activity
            android:name=".Deal_Two"
            android:exported="false" />
        <activity
            android:name=".Deal_One"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Home_page"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>